*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

button,
a {
  cursor: pointer;
}

.conteiner {
  max-width: 1340px;
  margin: 0 auto;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

:root {
  --title-color: #FFFFFF;
  --text-color: #777777;
}

.header_box {
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url("./img/pexels-mehmet.jpg") center/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding-top: 50px;
}
@media (max-width: 560px) {
  .header_nav {
    margin-bottom: 70px;
  }
}

.logo_img {
  max-width: 60px;
}

.header_wrapper {
  text-align: center;
  padding-bottom: 150px;
}

.hero_title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 10px;
  color: var(--title-color);
}
@media (max-width: 560px) {
  .hero_title {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
  }
}
@media (max-width: 410px) {
  .hero_title {
    font-size: 20px;
    letter-spacing: 5px;
  }
}

.hero_subtitle {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 5px;
  color: var(--title-color);
}
@media (max-width: 560px) {
  .hero_subtitle {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 410px) {
  .hero_subtitle {
    font-size: 20px;
    letter-spacing: 0px;
  }
}

.hero_btn {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #777777;
  width: 277px;
  height: 54px;
  background: #FFFFFF;
  border-radius: 50px;
  border: none;
}
@media (max-width: 560px) {
  .hero_btn {
    font-size: 10px;
    line-height: 20px;
    width: 200px;
    height: 40px;
  }
}
@media (max-width: 410px) {
  .hero_btn {
    font-size: 5px;
    width: 150px;
    height: 20px;
  }
}

.about {
  margin-bottom: 54px;
}

.about_wrapper_content {
  max-width: 100%;
  display: flex;
  gap: 67px;
}
@media (max-width: 650px) {
  .about_wrapper_content {
    flex-direction: column-reverse;
  }
}

.about_title {
  margin-bottom: 80px;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 10px;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 27px;
  line-height: 35px;
  letter-spacing: 5px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 5px;
}
.about_content {
  max-width: 50%;
}
@media (max-width: 650px) {
  .about_content {
    max-width: 100%;
  }
}

.about_subtitle {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  color: var(--text-color);
}

.about_text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  color: var(--text-color);
}

.about_link {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #777777;
}

.about_link::after {
  content: "";
  position: absolute;
  border: 1px solid #BA8554;
  display: inline-block;
  transform: rotate(90deg);
}

.about_img_box {
  position: relative;
  max-width: 540px;
  max-width: 100%;
  text-align: center;
}
.about_img1 {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
  max-width: 100%;
}

.about_img2 {
  position: relative;
  top: -15%;
  left: 15%;
  border-radius: 10px;
  max-width: 100%;
}
@media (max-width: 750px) {
  .about_img2 {
    position: relative;
    top: 0;
    left: 0;
  }
}

.about_img3 {
  position: relative;
  top: -25%;
  left: 0;
  border-radius: 10px;
  max-width: 100%;
}
@media (max-width: 750px) {
  .about_img3 {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 650px) {
  .about_img3 {
    display: none;
  }
}

.about_card_item {
  padding: 29px 25px;
}

.about_card_img {
  padding-bottom: 10px;
}

.about_card_titel {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #777777;
  padding-bottom: 10px;
}

.about_card_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  color: #777777;
  padding-bottom: 10px;
}

.about_card {
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url("./img/pexels-julia-volk.jpg") center/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 21%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 21%, 100% 100%, 0 80%);
}

.about_card_wrapper {
  padding-top: 25%;
  padding-bottom: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.about_card_item {
  max-width: 240px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  text-align: center;
}

.menu_wrapper {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.menu_img {
  width: 100%;
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding-bottom: 80px;
}

.menu_text_group {
  text-align: center;
  padding: 25px 50px 50px 50px;
}

.menu_title {
  padding-bottom: 80px;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 10px;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu_sub_title {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 2px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu_text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-decoration-line: underline;
  color: #777777;
}

.menu_item {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  max-width: 341px;
}

.menu_btn {
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.review {
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url("./img/review.jpg") center/cover no-repeat;
}

.review_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}

.review_title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 10px;
  color: #FFFFFF;
  margin-bottom: 80px;
  text-align: center;
}

.review_list {
  margin-bottom: 80px;
}

.review_item {
  background: rgba(255, 255, 255, 0.8);
  -webkit-clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
          clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 50px;
  gap: 40px;
}

.review_item_img_wrapper {
  max-width: 167px;
}

.review_sub_title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #777777;
  margin-bottom: 20px;
}

.review_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #777777;
}

.menu_btn {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #777777;
  background: #FFFFFF;
  border: none;
  border-radius: 50px;
  padding: 15px 21px;
  margin: 0 auto;
}

.booking {
  padding: 100px;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
}

.booking_wrapper {
  display: flex;
  position: relative;
  background-image: url("./img/pexels-taryn-elliott.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1140px;
}

.booking_title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 10px;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 30px;
}

.booking_input_name,
.booking_input_email {
  padding: 18px 210px 18px 33px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: none;
}

.booking_radio_btn {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.booking_content_btn {
  background: #BA8554;
  border-radius: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #FFFFFF;
  padding: 15px 21px;
  border: none;
}

.booking_form_contact {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.booking_form_choose {
  padding-bottom: 30px;
}

.booking_radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-icon {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
.radio-icon:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
}
.radio-icon:hover:before {
  border-color: #BA8554;
}
.booking_radio:checked + .radio-icon:before {
  border-color: #BA8554;
  background-color: #BA8554;
  box-shadow: inset 0 0 0 5px #fff;
}

.booking_radio_text {
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #777777;
}

.booking_content {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 3.24%, rgba(255, 255, 255, 0.9) 88.76%);
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  position: relative;
  padding: 50px 109px 50px 50px;
}

.footer_conteiner {
  background: #333333;
}

.footer_logo {
  max-width: 120px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.footer_list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.footer_wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}/*# sourceMappingURL=style.css.map */